body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.button:hover {
    color: #fff;
    background-color: #616467;
}

.w3-sidebar {
  width: 250px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

.w3-sidebar .w3-bar-item {
  padding: 12px 16px;
  text-decoration: none;
  color: #333;
  display: block;
  transition: background-color 0.3s ease;
  background: none;
  border: none;
}

.w3-sidebar .w3-bar-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.w3-sidebar .w3-bar-item.w3-large {
  
  text-align: right;
}

.w3-sidebar .w3-dropdown-click .w3-bar-item {
  padding-left: 32px;
}

.w3-sidebar .w3-dropdown-click  .w3-bar-item {
  padding-left: 16px; /* Align with Home and News */
}

.w3-sidebar button.w3-bar-item.w3-large,
.w3-sidebar .w3-bar-item {
  background: none;
  border: none;
}

.w3-teal {
  background-color: #009688;
  color: white;
  padding: 16px;
  transition: margin-left 0.3s ease;
}

/* Three-line button (menu icon) */
.w3-teal button.w3-button {
  background: none;
  border: none;
}


.w3-container {
  padding: 10px;
  margin-left: 30px; /* Initially no margin */
  transition: margin-left 0.3s ease;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .w3-sidebar {
    width: 100%;
  }

  .w3-container {
    margin-left: 0;
  }
  .w3-teal {
    margin-left: 0;
  }
}

/* Style adjustments when sidebar is open */
body.sidebar-open .w3-container {
  margin-left: 260px;
}
body.sidebar-open .w3-teal {
  margin-left: 120px;
}